/* app css stylesheet */
{ margin: 0; padding: 0; }


body {
    /*padding-top: 48px;*/
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background: url('../img/background.png');
    background-color:#000;
  
}

.navbar-fixed-top {
    margin-bottom: 0px;
}

.navbar .nav {
    margin-left: 15px;
}

.nav.pull-right .nav {

    border-right-width: 10px;
    margin-left: 0px;
}

element.style {

}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}


div.roomlist {
    margin: 2px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 2px solid #174856;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

}


h3.roomlist {
    font: Helvetica, Arial, Sans-Serif;
    font-size: 100%;
    color: #999;
    text-shadow: 0px 3px 8px #2a2a2a;
}


img.roomlist {
    width: 80px;
    height: 44px;
    
}

#ng-view {
  position:relative;
}

/* Animations */
.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  min-height:1000px;
}

.slide-animation.ng-enter {
  opacity:0;
}

.slide-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.slide-animation.ng-leave {
  opacity:1;
}

.slide-animation.ng-leave.ng-leave-active {
  opacity:0;
}

img.shutter {
    width: 48px;
    height: 39px;
}

img.io-icon-light {
    width: 38px;
    height: 38px;
    margin: 5px;
}


img.io-icon {
    width: 43px;
    height: 33px;
    margin: 5px;
}
