/* app css stylesheet */


body {
    padding-top: 50px;
    padding-bottom: 10px;
}

.brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

/*.box
{
    position: relative;
    background: #eee;
    border-radius: 8px;
    padding: 0.5em 0.5em;
    color: rgba(1,1,1, .8);
    line-height: 1.5;
    margin: 8px auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}


.box:before, .box:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 1.0);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 1.0);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 1.0);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.box:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.navbar-shadow
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}*/
