<div class="well" ng-controller="SettingsCtrl">
<h1>Please Sign in :</h1>
<hr>
<form class="form-horizontal" name="settings">

  <div class="control-group">
    <label class="control-label" for="use_calaosnetwork">Use calaos network</label>
    <div class="controls">
      <input type="checkbox" ng-model="use_calaosnetwork" name="use_calaosnetwork">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="input_cn_user">Calaos Username :</label>
    <div class="controls">
      <input name="input_cn_user" ng-model="cn_user" placeholder="Calaos Username" required>
      <span class="badge badge-important" ng-show="settings.input_cn_user.$error.required">x</span><br>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="input_cn_pass">Calaos Password :</label>
    <div class="controls">
      <input type="password" name="input_cn_pass" ng-model="cn_pass" placeholder="Calaos Password" required>
      <span class="badge badge-important" ng-show="settings.input_cn_pass.$error.required">x</span><br>
    </div>
  </div>

   <div class="control-group">
    <label ng-show="!use_calaosnetwork" class="control-label" for="input_host">Hostname:</label>
    <div class="controls">
      <input ng-show="!use_calaosnetwork" name="input_host" ng-model="host" placeholder="https://ip/" required>
      <span ng-show="!use_calaosnetwork" class="badge badge-important" ng-show="settings.input_host.$error.required">x</span><br>
    </div>
  </div>
</form>
  <button class="btn btn-large btn-block btn-inverse" ng-click="sign_in()">Sign In!</button>
</div>

