<div class="roomlist" ng-controller="LightDimmerCtrl" ng-if="item.visible == 'true'">
  <table class="array-header">
    <tr>
      <td class="array-left"><h3 class="roomlist" ng-class="{active: item.state==true}">
        <input type="checkbox" class="light" disabled="true" ng-model="item.state"/> {{item.name}}
      </td>
      <td class="array-right">
          <img class="shutter" ng-src="images/button_light_on.png" ng-click="CalaosApp.setState(item, 'true')"/></img>
          <img class="shutter" ng-src="images/button_light_off.png" ng-click="CalaosApp.setState(item, 'false')"/></img>
      </td>
    </tr>
    <tr>
      <td class="array-left"> <input type="range" min="0" max="100" step="1" ng-model="percent_value_rw" ng-mouseup="changeValueDimmer()"/></td>
      <td class="array-right"><h3 class="roomlist">{{percent_value}}%</h3></td>
    </tr>
  </table>
</div>