
<div class="io">
    <img class="icon" ng-src="images/icon_{{item.gui_style === undefined ? 'default' : item.gui_style}}.png"/>
    <span class="expand title">
        <span>{{item.name}}</span>
    </span>
    <span class="value_temp">
        <span>{{item.state}} {{item.unit}}</span>
    </span>
    <a class="action_button" href="" ng-click="CalaosApp.setState(item, 'inc')">
        <img ng-src="images/button_plus.png"/>
    </a>
    <a class="action_button" href="" ng-click="CalaosApp.setState(item, 'dec')">
        <img ng-src="images/button_min.png"/>
    </a>
</div>
