
<div class="io">
    <label class="light icon checkbox"><input type="checkbox" disabled="true" ng-model="item.state" ng-true-value="'true'" ng-false-value="'false'"/><span></span></label>
    <span class="expand title">
        <span>{{item.name}}</span>
    </span>
    <a href="" ng-click="CalaosApp.setState(item, 'true')">
        <img class="action_button" ng-src="images/button_light_on.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'false')">
        <img class="action_button" ng-src="images/button_light_off.png"/>
    </a>
</div>
