
<div class="io io_multiline" ng-if="item.visible == 'true'">
    <div class="io_line">
        <label class="light icon checkbox"><input type="checkbox" disabled="true" ng-model="item.state" ng-true-value="'100'" ng-false-value="'0'"/><span></span></label>
        <span class="expand title">
            <span>{{item.name}}</span>
        </span>
        <a href="" ng-click="CalaosApp.setState(item, 'true')">
            <img class="action_button" ng-src="images/button_light_on.png"/>
        </a>
        <a href="" ng-click="CalaosApp.setState(item, 'false')">
            <img class="action_button" ng-src="images/button_light_off.png"/>
        </a>
    </div>

    <div class="io_line">
        <span style="margin-left: 20px;"></span>
        <input type="range" class="light_dimmer" min="0" max="100" step="1" ng-model="percent_value_rw" ng-mouseup="changeValueDimmer()" class="ng-pristine ng-valid">
        <span>{{percent_value}}%</span>
    </div>
</div>
