
<div class="io io_multiline" ng-controller="LightRGBCtrl">
    <div class="io_line">
        <label class="light icon checkbox"><input type="checkbox" disabled="true" ng-model="bool_status"/><span></span></label>
        <span class="expand title">
            <span>{{item.name}}</span>
        </span>
        <a class="action_button" href="" ng-click="CalaosApp.setState(item, 'true')">
            <img ng-src="images/button_light_on.png"/>
        </a>
        <a class="action_button" href="" ng-click="CalaosApp.setState(item, 'false')">
            <img ng-src="images/button_light_off.png"/>
        </a>
    </div>

    <div class="io_line">
        <span class="expand title"><span> </span></span>
        <a class="action_button" href="" ng-click="colorPicker()">
            <img ng-src="images/button_keyboard.png"/>
        </a>
        <div style="background-color: {{color}};" class="color-picker"></div>
    </div>
</div>
