
<div class="io" ng-controller="ShutterCtrl">
    <label class="shutter icon checkbox"><input type="checkbox" disabled="true" ng-model="shutter_state" /><span></span></label>
    <span class="expand title">
        <span>{{item.name}}</span>
    </span>
    <a href="" ng-click="CalaosApp.setState(item, 'up')">
        <img class="action_button" ng-src="images/button_up.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'stop')">
        <img class="action_button" ng-src="images/button_stop.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'down')">
        <img class="action_button" ng-src="images/button_down.png"/>
    </a>
</div>
