
<div class="io" ng-if="item.visible == 'true'">
    <img class="icon" ng-src="images/icon_shutter_on.png"/>
    <span class="expand title">
        <span>{{item.name}}</span>
    </span>
    <a href="" ng-click="CalaosApp.setState(item, 'up')">
        <img class="action_button" ng-src="images/button_up.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'stop')">
        <img class="action_button" ng-src="images/button_stop.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'down')">
        <img class="action_button" ng-src="images/button_down.png"/>
    </a>
</div>
