
<div class="io" ng-if="item.visible == 'true'">
    <input type="checkbox" class="boolean icon" disabled="true" ng-model="item.state" ng-true-value="'true'" ng-false-value="'false'"/>
    <span class="expand title" ng-class="{bool_active: item.state=='true'}">
        <span>{{item.name}}</span>
    </span>
    <a href="" ng-click="CalaosApp.setState(item, 'true')">
        <img class="action_button" ng-show='item.rw == "true"' ng-src="images/button_bool_on.png"/>
    </a>
    <a href="" ng-click="CalaosApp.setState(item, 'false')">
        <img class="action_button" ng-show='item.rw == "true"' ng-src="images/button_bool_off.png"/>
    </a>
</div>
