<div class="roomlist" ng-if="item.visible == 'true'"> 
  <table class="array-header">
    <tr>
      <td class="array-left"><h3 class="roomlist"><img class="io-icon-light" ng-src="img/icon_light_off.png"/></i>  {{item.name}}</td>
	<td class="array-right"><a href=""><img class="shutter" ng-src="img/button_light_on.png"/></i></a>
	  <a href=""><img class="shutter" ng-src="img/button_light_off.png"/></i></a></td>
    </tr>
    <tr>
      <td class="array-left"><input type="range" min="0" max="100" step="1" ng-model="item.state"/></td>
      <td class="array-right"><a href="#/mobile/color-picker"><div class="color-picker"><h3 class="roomlist">{{$parent.item.state}}%</h3></div></a></td>
    </tr>
  </table>
</div>