<div class="roomlist" ng-if="item.visible == 'true'">
 <p>
	<h3 class="roomlist"><img class="io-icon-light" ng-src="img/icon_light_off.png"/></i>  {{item.name}}
		<div class="pull-right">
			<a href=""><img class="shutter" ng-src="img/button_light_on.png"/></i></a>
			<a href=""><img class="shutter" ng-src="img/button_light_off.png"/></i></a>
		</div>
	</h3>
</p>
<p>
	<div>
		<input type="range" min="0" max="100" step="1" ng-model="item.state"/>
		<div class="pull-right">
	  		<h3>{{item.state}}%</h3>
	  	</div>
  	</div>
</p>
</div>