<div ng-keypress="keyPressed($event)">
<div ng-repeat="item in room.items.inputs" content="item" >
  <div ng-switch="getTemplateUrl(item)" >
    <div ng-switch-when="light"><ng-include src="'partials/mobile/light.html'"></ng-include></div>
    <div ng-switch-when="temp"><ng-include src="'partials/mobile/temp.html'"></ng-include></div>
    <div ng-switch-when="analog_in"><ng-include src="'partials/mobile/analog_in.html'"></ng-include></div>
    <div ng-switch-when="analog_out"><ng-include src="'partials/mobile/analog_out.html'"></ng-include></div>
    <div ng-switch-when="light_dimmer"><ng-include src="'partials/mobile/light_dimmer.html'"></ng-include></div>
    <div ng-switch-when="light_rgb"><ng-include src="'partials/mobile/light_rgb.html'"></ng-include></div>
    <div ng-switch-when="shutter"><ng-include src="'partials/mobile/shutter.html'"></ng-include></div>
    <div ng-switch-when="shutter_smart"><ng-include src="'partials/mobile/shutter_smart.html'"></ng-include></div>
    <div ng-switch-when="var_bool"><ng-include src="'partials/mobile/var_bool.html'"></ng-include></div>
    <div ng-switch-when="var_int"><ng-include src="'partials/mobile/var_int.html'"></ng-include></div>
    <div ng-switch-when="var_string"><ng-include src="'partials/mobile/var_string.html'"></ng-include></div>
    <div ng-switch-when="scenario"><ng-include src="'partials/mobile/scenario.html'"></ng-include></div>
    <div ng-switch-when="switch"><ng-include src="'partials/mobile/switch.html'"></ng-include></div>
    <div ng-switch-when="switch2"><ng-include src="'partials/mobile/switch3.html'"></ng-include></div>
    <div ng-switch-when="switch2"><ng-include src="'partials/mobile/switch_long.html'"></ng-include></div>
    <div ng-switch-when="time_range"><ng-include src="'partials/mobile/time_range.html'"></ng-include></div>
    
    <div ng-switch-default> <ng-include src="'partials/mobile/default_template.html'"> </ng-include> </div>
    
    </div>
  </div>
  
</div>

<div ng-repeat="item in room.items.outputs" content="item">
  <div ng-switch="getTemplateUrl(item)" >
    <div ng-switch-when="light"><ng-include src="'partials/mobile/light.html'"></ng-include></div>
    <div ng-switch-when="temp"><ng-include src="'partials/mobile/temp.html'"></ng-include></div>
    <div ng-switch-when="analog_in"><ng-include src="'partials/mobile/analog_in.html'"></ng-include></div>
    <div ng-switch-when="analog_out"><ng-include src="'partials/mobile/analog_out.html'"></ng-include></div>
    <div ng-switch-when="light_dimmer"><ng-include src="'partials/mobile/light_dimmer.html'"></ng-include></div>
    <div ng-switch-when="light_rgb"><ng-include src="'partials/mobile/light_rgb.html'"></ng-include></div>
    <div ng-switch-when="shutter"><ng-include src="'partials/mobile/shutter.html'"></ng-include></div>
    <div ng-switch-when="shutter_smart"><ng-include src="'partials/mobile/shutter_smart.html'"></ng-include></div>
    <div ng-switch-when="var_bool"><ng-include src="'partials/mobile/var_bool.html'"></ng-include></div>
    <div ng-switch-when="var_int"><ng-include src="'partials/mobile/var_int.html'"></ng-include></div>
    <div ng-switch-when="var_string"><ng-include src="'partials/mobile/var_string.html'"></ng-include></div>
    <div ng-switch-when="scenario"><ng-include src="'partials/mobile/scenario.html'"></ng-include></div>
    <div ng-switch-when="switch"><ng-include src="'partials/mobile/switch.html'"></ng-include></div>
    <div ng-switch-when="switch2"><ng-include src="'partials/mobile/switch3.html'"></ng-include></div>
    <div ng-switch-when="switch2"><ng-include src="'partials/mobile/switch_long.html'"></ng-include></div>
    <div ng-switch-when="time_range"><ng-include src="'partials/mobile/time_range.html'"></ng-include></div>
    
    <div ng-switch-default> <ng-include src="'partials/mobile/default_template.html'"> </ng-include> </div>
    
    </div>
  </div>
  
</div>

</div>