
<div class="container" ng-controller="SettingsCtrl">
  <form class="form-signin">
    <h1 class="form-signin-heading">Please Sign in </h1>
    <label class="checkbox">
      <input type="checkbox" ng-model="use_calaosnetwork" name="use_calaosnetwork" ng-checked="use_calaosnetwork" id="calaos-network"/><label class="info" for="calaos-network">Use calaos network2</label>
    </label>
    <input type="text" class="form-control" placeholder="Calaos Username" autofocus required>
    <input type="password" class="form-control" placeholder="Calaos Password" required>
    <input class="form-control" ng-show="!use_calaosnetwork" name="input_host" ng-model="host" placeholder="https://IP/api.php" required></input>
    <button class="btn btn-lg btn-inverse btn-block btn-large" ng-click="sign_in()">Sign in</button>
  </form>
</div>