
<div class="container" ng-controller="AudioListCtrl">
    <div class="row-fluid" ng-repeat="audio in audioRaw">
        <a ui-sref="audio.player({playerId:audio.id})">
        <div ng-controller="AudioPlayerCtrl">
        <div class="roomlist audioitem">
            <div class="audiocover_bg pull-left">
                <img class="audiolist audiocover" ng-src='{{ cover_src }}'/>
                <div class="audiocover_top"></div>
            </div>
            <div>
                <h3 class="audiolist">{{audio.name}}</h3>
                <hr>
                <h4 class="audiolist">{{audio.current_track.artist}}</h4>
                <h4 class="audiolist">{{audio.current_track.album}}</h4>
                <h4 class="audiolist">{{audio.current_track.title}}</h4>
            </div>
        </div>
        </div>
        </a>
    </div>
</div>