<div class="container" ng-controller="LoginCtrl">

    <h1 ng-class="{'form-success': CalaosApp.isAuth()}">Welcome</h1>

    <form class="form-signin" ng-class="{'form-success': CalaosApp.isAuth()}">
        <input type="text" ng-model="cn_user" placeholder="Calaos Username" autofocus required>
        <input type="password" ng-model="cn_pass" placeholder="Calaos Password" required>
        <button ng-click="sign_in()" ng-class="{'shake': CalaosApp.hasAuthFailed()}">Sign in</button>
    </form>

    <span ng-show="!CalaosApp.isConnected()">
        <i class="fa fa-exclamation-triangle faa-tada animated"></i> No connection to Calaos
    </span>

    <div class="progressHolder" ng-show="isLoading">
    <div class="progress-wrap progress" data-progress-percent="50">
      <div class="progress-bar progress" style="left: {{ percentLoaded / 100 * 250 }}px;"></div>
    </div>
  </div>

</div>
