<div class="container" ng-controller="LoginCtrl">

    <h1 ng-class="{'form-success': CalaosApp.isAuth()}">Welcome</h1>

    <form class="form-signin" ng-class="{'form-success': CalaosApp.isAuth()}">
        <input type="text" ng-model="cn_user" placeholder="Calaos Username" autofocus required>
        <input type="password" ng-model="cn_pass" placeholder="Calaos Password" required>
        <button ng-click="sign_in()" ng-class="{'shake': CalaosApp.hasAuthFailed()}">Sign in</button>
    </form>
</div>
