<div class="roomlist" ng-controller="AnalogOutCtrl" ng-init="init(item)">
  <table class="array-header">
    <tr>
      <td class="array-left">
         <h3 class="roomlist"><img class="io-icon-temp" ng-src="img/icon_analog.png"/></i>{{name}}</h3>
      </td>
      <td class="array-right">
       <span><h3 class="roomlist" ng-model="state">{{state}} {{_item.unit}}</h3></span>
      </td>
      <td class="array-right">
          <div>
              <img class="shutter" ng-src="img/button_plus.png" ng-click='increase(_item)'/></img>
              <img class="shutter" ng-src="img/button_min.png" ng-click='decrease(_item)'/></img>
         </div>
      </td>
    </tr>
  </table>
</div>
