<div class="roomlist" ng-controller="LightRGBCtrl" ng-init="init(item)">
  <table class="array-header">
    <tr>
      <td class="array-left">
        <h3 class="roomlist" ng-class="{active: state==true}"><input type="checkbox" class="light" disabled="true" ng-model="state"/> {{name}}
      </td>
        <td class="array-right">
          <img class="shutter" ng-src="img/button_light_on.png" ng-click='setState(item, "true")'/></img>
          <img class="shutter" ng-src="img/button_light_off.png" ng-click='setState(item, "false")'/></img>  
        </td>
    </tr>
    <tr>
      <td colspan="2" class="array-right"><div class="color-picker" ng-click="colorPicker()"></div></td>
    </tr>
  </table>
</div>
