<div class="roomlist" ng-controller="ShutterCtrl" ng-init="init(item)">
  <h3 class="roomlist"><img class="io-icon" ng-src="img/icon_shutter_off.png"/></i> {{name}}
  <div class="pull-right">
      <a href=""><img class="shutter" ng-src="img/button_up.png" ng-click='setState(item, "up")'/></i></a>
      <a href=""><img class="shutter" ng-src="img/button_stop.png" ng-click='setState(item, "stop")'/></i></a>
      <a href=""><img class="shutter" ng-src="img/button_down.png" ng-click='setState(item, "down")'/></i></a>
  </div>
  </h3>
</div>

