<div class="roomlist" ng-controller="StringCtrl" ng-init="init(item)">
  <table class="array-header">
    <tr>
      <td class="array-left">
         <h3 class="roomlist" ng-class="{bool_active: state==true}">{{name}}</h3>
      </td>
      <td class="array-right">
         <div ng-show='_item.rw == "true"'>
             <input class="roomlist" ng-model="state"  ng-change='setState(item, state)'>
         </div>
         <div ng-show='_item.rw == "false"'>
             <h3 class="roomlist" ng-model="state">{{state}}</h3>
         </div>
      </td>
    </tr>
  </table>
</div>
