<div class="roomlist" ng-controller="LightCtrl" ng-init="init(item)">
  <table class="array-header">
    <tr>
      <td class="array-left">
         <h3 class="roomlist" ng-class="{bool_active: state==true}"><input type="checkbox" class="bool" disabled="true" ng-model="state" ng-show='_item.rw == "true"'/> {{name}}
      </td>
      <td class="array-right">
         <div ng-show='_item.rw == "true"'>
            <img class="shutter" ng-src="img/button_bool_on.png" ng-click='setState(item, "true")'/></img>
            <img class="shutter" ng-src="img/button_bool_off.png" ng-click='setState(item, "false")'/></img>
         </div>
         <div ng-show='_item.rw == "false"'>
            <input type="checkbox" class="bool" disabled="true" ng-model="state"/>
         </div>
      </td>
    </tr>
  </table>
</div>

