
        <div class="span2">
            <div class="sidebar-nav-fixed">
                <div class="well">
                    <ul class="nav nav-list">
                        <li class="nav-header">My Home</li>
                        <li><a href="#">Salon</a></li>
                        <li><a href="#">Cuisine</a></li>
                        <li><a href="#">Chambre</a></li>
                        <li class="nav-header">Surveillance</li>
                        <li><a href="#">Camera 1</a></li>
                        <li class="nav-header">Music</li>
                        <li><a href="#">Squeezebox Touch</a></li>
                    </ul>
                </div>
            </div>
        </div>

