<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Calaos Web App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Calaos Team">

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.css" />
    <link rel="stylesheet" href="bower_components/font-awesome-animation/dist/font-awesome-animation.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="fonts/Source_Sans_Pro/css/font_styles.css">
    <link rel="stylesheet" href="fonts/Ubuntu/css/font_style.css">
    <link rel="stylesheet" href="bower_components/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="calaosApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="mainBackground"></div>

    <nav class="navbar animated" ng-class="{fadeInDown: CalaosApp.isAuth()}">
        <a class="logo" href="#">Calaos Web App</a>
        </div>
        <button class="btn-navbar left" ng-click="goBack()" ng-show="canGoBack()"><i class="fa fa-arrow-left fa-2x fa-fw"></i></button>
        <button class="btn-navbar right" ng-click="signOut()" ng-show="CalaosApp.isAuth()"><i class="fa fa-sign-out fa-fw fa-2x"></i></button>
    </nav>

    <div class="content" ng-class="{'content-max': !CalaosApp.isAuth()}">
        <div ui-view ></div>
    </div>

    <div class="calaos-footer animated" ng-class="{fadeInUp: CalaosApp.isAuth()}">
        <ul class="calaos-footer-content">
            <li class="menu home-menu" ng-class="{home_selected: $state.includes('home')}" ui-sref="home.list">Home</li>
            <li class="menu media-menu" ng-class="{media_selected: $state.includes('audio')}" ui-sref="audio.list">Audio</li>
            <li class="menu security-menu" ng-class="{security_selected: $state.includes('security')}" ui-sref="security.list">Security</li>
        </ul>
    </div>

    <!-- build:jsoldie scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:jsvendor scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/angular-farbtastic/angular-farbtastic.js"></script>
    <!-- endbuild -->

    <script src="scripts/dev_config.js"></script>

    <!-- build:js scripts/scripts.js -->
    <script src="scripts/reconnecting-websocket.js"></script>
    <script src="scripts/cookies.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/camera-directive.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/preloader.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/room.js"></script>
    <script src="scripts/controllers/io.js"></script>
    <script src="scripts/controllers/audio.js"></script>
    <script src="scripts/controllers/camera.js"></script>
    <!-- endbuild -->

</body>
</html>
