
<div>
<h3 class="audio_title text-center" ng-class='{audio_active: audioplayer.status=="playing"}'>
<input type="checkbox" class="audioplayer_state" disabled="true" ng-model="playing"/>{{audioplayer.name}}
</h3>
</div>

<div class="audiocoverbig_bg">
    <img class="audiocoverbig" ng-src='{{ cover_src }}'/>
    <div class="audiocoverbig_top"></div>
</div>

<div class="controls">
<img class="shutter" ng-src="images/button_previous.png" ng-click='setState(audioplayer, "prev")'/></img>
<img class="shutter" ng-src="images/button_play.png" ng-click='setState(audioplayer, "play")'/></img>
<img class="shutter" ng-src="images/button_stop.png" ng-click='setState(audioplayer, "stop")'/></img>
<img class="shutter" ng-src="images/button_next.png" ng-click='setState(audioplayer, "next")'/></img>
</div>



<div class="controls">
<input class="audio_position" type="range" min="0" max="100" step="1" ng-model="percent_value_rw" ng-mouseup="changeValueDimmer()"/>
</div>

<!--
<div>
<input type="range" min="0" max="100" ng-model="audioplayer.volume">{{audioplayer.position}}
<div>

<div>
cd
</div>

-->

<div>
<label class="info-label">Artist :</label>
<label class="info-field">{{audioplayer.current_track.artist}}</label>

<label class="info-label">Album :</label>
<label class="info-field">{{audioplayer.current_track.album}}</label>

<label class="info-label">Title :</label>
<label class="info-field">{{audioplayer.current_track.title}}</label>

<label class="info-label">Duration :</label>
<label class="info-field">{{audioplayer.current_track.duration}}</label>
</div>
<!--
<div class="infos left">Album : </div>
<div class="infos">{{audioplayer.current_track.album}}</div>

<div class="infos left">Title : </div>
<div class="infos">{{audioplayer.current_track.title}}</div>

<div class="infos left">Duration : </div>
<div class="infos">{{audioplayer.current_track.duration}}</div>
-->
<!--
<div>
bargraph
</div>

-->
